# SPDX-FileCopyrightText: 2026 INFO.nl
# SPDX-License-Identifier: EUPL-1.2+

### BUILD ###
bin
build
.gradle
.classpath
.project
.settings

### INTELLIJ ###
*.iml
.idea

### JENV ###
.java-version

### just linux things
*.swp
