#
# SPDX-FileCopyrightText: 2024 INFO.nl
# SPDX-License-Identifier: EUPL-1.2+
#
name: Trivy code scanner

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: "21 11 * * 0"

permissions:
  # Required for uploading SARIF reports
  security-events: write

jobs:
  build:
    name: Run Trivy code scanner
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Run Trivy vulnerability scanner in repo mode with Sarif output
        uses: aquasecurity/trivy-action@master
        # Only run on main branch
        if: github.ref == 'refs/heads/main'
        with:
          scan-type: 'fs'
          ignore-unfixed: true
          format: 'sarif'
          limit-severities-for-sarif: true
          output: 'trivy-results.sarif'
          severity: 'CRITICAL,HIGH'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@014f16e7ab1402f30e7c3329d33797e7948572db # v4.31.3
        if: github.ref == 'refs/heads/main'
        with:
          sarif_file: 'trivy-results.sarif'
