#
# SPDX-FileCopyrightText: 2024 INFO.nl
# SPDX-License-Identifier: EUPL-1.2+
#
name: Trivy code scanner

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: "21 11 * * 0"

permissions:
  # Required for uploading SARIF reports
  security-events: write

jobs:
  build:
    name: Run Trivy code scanner
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Run Trivy vulnerability scanner in repo mode with Sarif output
        uses: aquasecurity/trivy-action@master
        # Only run on main branch
        if: github.ref == 'refs/heads/main'
        with:
          scan-type: 'fs'
          ignore-unfixed: true
          format: 'sarif'
          limit-severities-for-sarif: true
          output: 'trivy-results.sarif'
          severity: 'CRITICAL,HIGH'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@e12f0178983d466f2f6028f5cc7a6d786fd97f4b # v4.31.4
        if: github.ref == 'refs/heads/main'
        with:
          sarif_file: 'trivy-results.sarif'
